* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    background-color: dimgrey;
}

.parallax {
    /* The image used */
    background-image: url(../imgs/flower.JPG);
    /* Full height */
    height: 100%;
    width: 100vw;
    margin: -10px 0px 0px -10px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*///////////////////////////////////*/

.landing--about {
    display: flex;
    justify-content: center;
    padding-left: 15vw;
}

.title--about {
    margin: 25px;
    line-height: 70px;
}

.titletag {
    width: 400px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: -50%;
}

/*///////////////////////////////////*/

.links {
    font-family: 'Ringbearer';
    font-size: 25px;
    color: white;
    margin-right: 25px;
}

a.links {
    text-decoration: none;
}

.header--custom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.anchor-nav {
    padding: 30px 10px 10px 45%;
    width: 100vw;
}

.anchor {
    padding-right: 10px;
}

header {
    position: fixed;
    top: 10px;
    left: -10px;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.full-screen {
    display: flex;
    width: 500vw;
    max-height: 100%;
    overflow: hidden;
    height: 100%;
    /*     makes panels the entire window height */
}

.landing {
    height: 700px;
    display: grid;
    /*    grid-template-columns: auto auto;*/
    margin-left: -200px;
    margin-top: 10vh;
    color: black;
}

.title {
    background-image: url(../imgs/title.png);
    background-size: cover;
    width: 350px;
    height: 110px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Crimson Text', serif;
    padding-top: 13px;
}

@font-face {
    font-family: "Ringbearer";
    src: url("../fonts/RINGM___.ttf") format("truetype");
}

.text {
    max-width: 400px;
    min-height: 100px;
    background-color: white;
    padding: 30px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-align: justify;
    color: black;
}

.text--title {
    margin-left: 50%;
}

/*//////////////////////////////*/

/*
.landing--hobbit {
    grid-template-areas: "picH picH textH""titleH titleH textH";
}
*/

.hobbit {
    grid-area: picH;
    width: 550px;
}

.text--start {
    grid-area: textH;
    position: absolute;
    margin-top: 420px;
    margin-left: 150px;
}

.title--start {
    grid-area: titleH;
    position: absolute;
    margin-left: 400px;
    margin-top: 220px;
    animation-name: titlefloat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes titlefloat {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.title--parallax {
    grid-area: titleH;
    position: absolute;
    margin-left: 400px;
    margin-top: 220px;
    animation-name: titlefloat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes titlefloat {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

/*//////////////////////////////*/

.landing--orc {
    grid-template-areas: "text--orc text--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc";
}

.text--orc {
    width: 300px;
    grid-area: text--orc;
    margin: 0px -50px 0px 50px;
    height: 380px;
}

.title--orc {
    grid-area: title--orc;
    margin-top: 40px;
    margin-right: 90px;
    animation-name: orctitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes orctitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.orc {
    width: 400px;
    grid-area: pic--orc;
    margin-right: -50px;
}

.landing--orc {
    grid-template-areas: "text--orc text--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc";
}

/*//////////////////////////////*/

.ring {
    width: 500px;
    grid-area: picR;
    margin: 50px 50px 0px 50px;
}

.title--ring {
    grid-area: titleR;
    margin-left: 120px;
    margin-top: -80px;
    line-height: 70px;
    animation-name: ringtitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes ringtitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.text--ring {
    grid-area: textR;
    margin: 50px 25px;
    margin-left: 70px;
    max-width: 250px;
}

.landing--ring {
    grid-template-areas: "textR picR picR""textR picR picR""textR titleR titleR";
}

/*//////////////////////////////*/

.troll {
    width: 900px;
    margin-top: -40px;
    grid-area: pic--troll;
}

.landing--troll {
    margin-left: 0px;
    grid-template-areas:
        "title--troll title--troll""pic--troll pic--troll";
}

.troll--title {
    grid-area: title--troll;
    margin: -20px 0px 0px 300px;
    animation-name: trolltitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes trolltitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

/*//////////////////////////////*/

.mountdoom {
    width: 500px;
    grid-area: mountdoom1;
    margin-left: 300px;
}

.title--md {
    line-height: 70px;
    grid-area: mountdoom2;
    margin-left: -70px;
    animation-name: mdtitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes mdtitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.text--md {
    grid-area: mountdoom3;
    width: 450px;
    margin-top: 50px;
    margin-left: 400px;
}

.empty--md {
    grid-area: empty;
}

.landing--md {
    grid-template-areas: "mountdoom1 mountdoom1 empty""mountdoom1 mountdoom1 mountdoom2""mountdoom3 mountdoom3 mountdoom2""mountdoom3 mountdoom3 mountdoom2";
}

/*//////////////////////////////*/
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
