* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    background-size: calc(1920px *3);
    background-image: url(../imgs/smallerb.png);
}

.links--container {
    display: flex;
    flex-direction: row;
    background-color: #666;
    width: 100%;
    padding-left: 45vw;
}

.links {
    font-family: 'Ringbearer';
    font-size: 25px;
    color: white;
    margin-right: 25px;
}

a.links {
    text-decoration: none;
}

.header--custom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.anchor-nav {
    padding: 30px 10px 10px 45%;
    width: 100vw;
}

.anchor {
    padding-right: 10px;
}

/*
.box {
    width: 200px;
    height: 200px;
    background: white;
    transition: transform 2s, background 2s;
    margin-top: 200px;
}
*/

/*
.bigger {
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

.spin {
    animation: spin;
    animation-duration: 3s;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}
*/

header {
    position: fixed;
    top: 10px;
    left: -10px;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EFEFEF;
}

.full-screen {
    display: flex;
    width: 500vw;
    max-width: calc(1920px *3);
    max-height: 100%;
    overflow: hidden;
    height: 100%;
    /*     makes panels the entire window height */
}

.landing {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: -200px;
    margin-top: 10vh;
    color: black;
}

/*
.landing--items {
    padding: 10px;
}
*/

.title {
    background-image: url(../imgs/title.png);
    background-size: cover;
    width: 350px;
    height: 110px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Ringbearer';
    padding-top: 17px;
}

@font-face {
    font-family: "Ringbearer";
    src: url("RINGM___.ttf") format("truetype");
}

.text {
    max-width: 400px;
    min-height: 100px;
    background-color: white;
    padding: 30px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-align: justify;
    color: black;
}

.text--start {
    grid-area: textH;
    position: absolute;
    margin-top: 420px;
    margin-left: 150px;
}

.title--start {
    grid-area: titleH;
    position: absolute;
    margin-left: 400px;
    margin-top: 220px;
}

.hobbit {
    grid-area: picH;
    width: 550px;
}

.text--orc {
    width: 300px;
    grid-area: text--orc;
    margin: 0px -50px 0px 50px;
    height: 330px;
}

.landing--hobbit {
    grid-template-areas:
        "picH picH textH"
        "titleH titleH textH";
}

.landing--orc {
    grid-template-areas:
        "text--orc text--orc pic--orc pic--orc"
        "title--orc title--orc pic--orc pic--orc"
        "title--orc title--orc pic--orc pic--orc";
}

.title--orc {
    grid-area: title--orc;
    margin-top: 40px;
}

.ring {
    width: 500px;
    grid-area: picR;
    margin: 50px 0px;
}

.title--ring {
    grid-area: titleR;
    margin-left: 70px;
    margin-top: -80px;
    line-height: 70px;
}

.text--ring {
    grid-area: textR;
    margin: 50px 25px;
    max-width: 250px;
}

.landing--ring {
    grid-template-areas:
        "textR picR picR"
        "textR picR picR"
        "textR titleR titleR";
}

.orc {
    width: 400px;
    margin-left: 20px;
    grid-area: pic--orc;
}

.landing--orc {
    grid-template-areas:
        "text--orc text--orc pic--orc pic--orc"
        "title--orc title--orc pic--orc pic--orc"
        "title--orc title--orc pic--orc pic--orc";
}

.mountdoom {
    width: 500px;
    grid-area: mountdoom1;
    margin-left: 50px;
}

.troll {
    width: 900px;
    margin-top: 40px;
    grid-area: pic--troll;
}

.landing--troll {
    "title--troll title--troll"
    "pic--troll pic--troll";
}

.troll--title {
    grid-area: title--troll;
    margin: -20px 0px 0px 320px;
}

.title--md {
    line-height: 70px;
    grid-area: mountdoom2;
    margin-left: -70px;
}

.text--md {
    grid-area: mountdoom3;
    width: 450px;
    margin-top: 50px;
    margin-left: 100px;
}

.empty--md {
    grid-area: empty;
}

.landing--md {
    grid-template-areas:
        "mountdoom1 mountdoom1 empty"
        "mountdoom1 mountdoom1 mountdoom2"
        "mountdoom3 mountdoom3 mountdoom2"
        "mountdoom3 mountdoom3 mountdoom2";
}

.landing--about {
    display: flex;
    flex-direction: column;
    margin-left: 34vw;
}

.title--about {
    margin: 25px;
    line-height: 70px;
}

.text--about {}


/*
/////
///                    https://codepen.io/niallains/pen/dxbOyX
/////
*/

body > button {
    display: block;
    min-width: 150px;
}

button {
    display: inline;
    background-color: white;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-align: justify;
    color: black;
    font-weight: 600;
    border: 1px solid white;
}

button:hover {
    cursor: pointer;
}

/* Overlay Styles */
.overlayBg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: none;
}

.overlayBg.open {
    display: block;
}

[overlay] {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 250px;
    padding: 30px;
    background-color: white;
    background-image: url(../imgs/paper.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 5px #0005;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0s linear 0.2s,
        opacity 0.2s,
        transform 0.2s;
}

[overlay].open {
    visibility: visible;
    opacity: 1;
    transition:
        opacity 0.5s,
        transform 0.5s;
}

[overlay] button.close {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    color: black;
    cursor: pointer;
    outline: none;
}

[overlay] button.close:hover,
[overlay] button.close:focus {
    color: black;
}
