* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    background-color: dimgrey;
    background-image: url(../imgs/dot-grid.png);
}

.parallax {
    /* The image used */
    /*    background-image: url(../imgs/flower.JPG);*/
    /* Full height */
    height: 100%;
    width: 100vw;
    margin: -10px 0px 0px -10px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*///////////////////////////////////*/

.landing--about {
    display: flex;
    justify-content: center;
    padding-left: 15vw;
}

.title--about {
    margin: 25px;
    line-height: 70px;
}

.titletag {
    width: 400px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: -50%;
}

/*///////////////////////////////////*/

.links {
    font-family: 'Ringbearer';
    font-size: 25px;
    color: white;
    margin-right: 25px;
}

a.links {
    text-decoration: none;
}

.header--custom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.anchor-nav {
    padding: 30px 10px 10px 45%;
    width: 100vw;
}

.anchor {
    padding-right: 10px;
}

header {
    position: fixed;
    top: 10px;
    left: -10px;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.full-screen {
    display: flex;
    width: 500vw;
    max-height: 100%;
    overflow: hidden;
    height: 100%;
/*    background-color: lightgrey;*/
    /*     makes panels the entire window height */
}

.landing {
    height: 700px;
    display: grid;
    /*    grid-template-columns: auto auto;*/
    margin-left: -200px;
    margin-top: 10vh;
    color: black;
}

.title {
    background-image: url(../imgs/title.png);
    background-size: cover;
    width: 350px;
    height: 110px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Crimson Text', serif;
    padding-top: 13px;
}

@font-face {
    font-family: "Ringbearer";
    src: url("../fonts/RINGM___.ttf") format("truetype");
}

.text {
/*
    max-width: 400px;
    min-height: 100px;
*/
    background-color: white;
    padding: 30px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-align: justify;
    color: black;
    border: 1px solid lightgrey;
}

.text--title {
    margin-left: 50%;
}

/*//////////////////////////////*/

/*
.landing--hobbit {
    grid-template-areas: "picH picH textH""titleH titleH textH";
}
*/

.hobbit {
    grid-area: picH;
    width: 580px;
    transform: rotate(-90deg);
    margin: 0px -0px 0px -250px;
}

.text--start {
    grid-area: textH;
    position: absolute;
    margin-top: 250px;
    margin-left: 270px;
    height: 390px;
    overflow: auto;
    width: 450px;
}

.title--start {
    grid-area: titleH;
    position: absolute;
    margin-left: 315px;
    margin-top: 100px;
    animation-name: titlefloat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes titlefloat {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.title--parallax {
    grid-area: titleH;
    position: absolute;
    margin-left: 400px;
    margin-top: 220px;
    animation-name: titlefloat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes titlefloat {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

/*//////////////////////////////*/

.landing--orc {
    grid-template-areas: "text--orc text--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc";
}

.text--orc {
    width: 300px;
    grid-area: text--orc;
    margin: 0px 0px 0px 50px;
    height: 380px;
    overflow: auto;
}

.title--orc {
    grid-area: title--orc;
    margin-top: 40px;
    margin-right: 100px;
    animation-name: orctitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes orctitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.orc {
    width: 600px;
    margin-left: -50px;
    grid-area: pic--orc;
}

.web--two {
    width: 500px;
}

.landing--orc {
    grid-template-areas: "text--orc text--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc""title--orc title--orc pic--orc pic--orc";
}

/*//////////////////////////////*/

.ring {
    width: 700px;
    grid-area: picR;
margin-right: -150px
}

.title--ring {
    grid-area: titleR;
    margin-left: 170px;
    margin-top: -80px;
    line-height: 70px;
    animation-name: ringtitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes ringtitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.text--ring {
    grid-area: textR;
    width: 350px;
    max-height: 450px;
    overflow: auto;
    margin-right: 50px;
}

.landing--ring {
    grid-template-areas: "textR picR picR""textR picR picR""textR titleR titleR";
}

/*//////////////////////////////*/

.troll {
    width: 900px;
    margin-top: -40px;
    grid-area: pic--troll;
}

.landing--troll {
    margin-left: 0px;
    grid-template-areas:
        "title--troll title--troll""pic--troll pic--troll";
}

.troll--title {
    grid-area: title--troll;
    margin: -70px 0px 0px 300px;
    animation-name: trolltitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes trolltitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

/*//////////////////////////////*/

.mountdoom {
    width: 500px;
    grid-area: mountdoom1;
    margin-left: 300px;
}

.title--md {
    line-height: 70px;
    grid-area: mountdoom2;
    margin-left: -70px;
    animation-name: mdtitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes mdtitle {
    0% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(10px)
    }
}

.text--md {
    grid-area: mountdoom3;
    width: 450px;
    margin-top: 50px;
    margin-left: 400px;
    height: 200px;
    overflow: auto;
}

.empty--md {
    grid-area: empty;
}

.landing--md {
    grid-template-areas: "mountdoom1 mountdoom1 empty""mountdoom1 mountdoom1 mountdoom2""mountdoom3 mountdoom3 mountdoom2""mountdoom3 mountdoom3 mountdoom2";
}

/*//////////////////////////////*/
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}


/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
*/


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slideshow {
    width: 1000px;
    height: 600px;
}
